.queue {
    padding: 20px;
    max-width: 40vw;
    background-color: #1b1b1b;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.queue h2 {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.queue p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}